LLM_WIKI_PROJECT_ROOTS = F:\code\dev

# for drizzle-kit
DATABASE_URL = postgresql://postgres:abcd123@localhost:5432/postgres
NEXT_PUBLIC_DB_SCHEMA = "llm_wiki_web"
NEXT_PUBLIC_DB_MIGRATIONS_SCHEMA = "llm_wiki_web"
NEXT_PUBLIC_DB_MIGRATIONS_TABLE = "__drizzle_migrations"